* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.white {
    color: white;
}

.abs {
    position: absolute;
    top: 42%;
}

.abs2 {
    position: absolute;
    top: 10%;
}

.rad {
    border-radius: 10px;
}

.no-mrg {
    margin: 0%;
}

.mrg-btm {
    margin-bottom: 30px;
}

.mrg-btm1 {
    margin-bottom: 15px;
}

.mrg-btm2 {
    margin-bottom: 50px;
}

.mrg-btm3 {
    margin-bottom: 80px;
}

.mrg-top2 {
    margin-top: 50px;
}

.no-pdg {
    padding: 0%;
}

.pdg-aside {
    padding: 0 20px;
}

.grey {
    color: #727272;
    font-size: 22px;
}

.blue {
    color: #0072ce;
}

.txt-cntr {
    text-align: center;
}

.txt-str {
    text-align: start;
}

.txt-new-exit {
    font-size: 18px;
    line-height: 25px;
}

.txt-plus {
    font-size: 20px;
}

.txt-now {
    font-size: 16px;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.top-header {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.top-header img {
    width: 4%;
    margin: 10px 20px;
}

.d-flex .nav-link {
    color: black;
}

.d-flex .btn-secondary {
    background-color: #363636;
    border-radius: 30px;
    border: 0px;
}

.d-flex img {
    width: 10%;
    margin-left: 10px;
    margin-right: 15px;
}

header .navbar-light {
    background-color: white;
}

header .navbar-light .navbar-nav .nav-link {
    color: black;
}

.logo-header {
    width: 3%;
    margin-right: 10px;
}

/* MAIN */

/* RETURNAL-SECTION */
.returnal-section {
    position: relative;
    width: 100%;
    height: 593px;
    background-image: url(./playstation/img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
}

.text-returnal img {
    width: 300px;
    margin-bottom: 40px;
}

.text-returnal .btn {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
    border-radius: 20px;
}

.text-returnal .btn-primary:hover {
    transform: scale(.9);
}

.btn-brd {
    width: auto;
}

/* GAME SECTION */
.game-section img {
    width: 100%;
    border: 2px solid transparent;
    padding: 2px;
}

.game-section {
    margin: 40px;
}

.space {
    margin: 20px 0;
}

.row .rad:hover img{
    border-color: #0072ce;
}

/* CONSOLE SECTION */
.console-section {
    margin: 40px 0;
}

.ps-5 {
    width: 100%;
    object-fit: cover;
}

.console-img {
    width: 100%;
    object-fit: cover;
}

.opacity {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0%;
}

.box2:hover .opacity {
    opacity: 0;
}

.box:hover {
    border-bottom: 3px solid #0072ce;
}

.box {
    position: relative;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.console-section .btn-primary {
    background-color: #0072ce;
    border-radius: 20px;
}

.console-section .btn-primary:hover {
    transform: scale(.9);
}

/* IT TAKES TWO SECTION */
.takes-two-section {
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url(./playstation/img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

.takes-two-section img {
    width: 65%;
    margin-bottom: 30px;
}

.takes-two-section h2 {
    font-size: 47px;
    margin-bottom: 30px;
    line-height: 50px;
}

.takes-two-section .btn {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
    border-radius: 20px;
}

.new-exit-section {
    width: 100%;
    background-color: #1f1f1f;
    padding: 30px 0;
}

.new-exit-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.takes-two-section .btn-primary:hover {
    transform: scale(.9);
}

/* EXPLORATION SECTION */
.exploration-section {
    margin: 80px 0;
}

.exploration-section img {
    width: 100%;
    object-fit: cover;
}

.ps4-box {
    margin: 100px 0;
}

.exploration-section .btn-primary {
    background-color: #0072ce;
    border-radius: 20px;
}

.exploration-section .btn-primary:hover {
    transform: scale(.9);
}

/* PS PLUS SECTION */
.ps-plus-section {
    background-color: #bebcbb;
}

.ps-plus-section .btn-light {
    color: #0072ce;
    background-color: rgba(255, 255, 255, .5);
    border: 0px;
    border-radius: 20px;
}

.ps-plus-section .btn:hover {
    background-color: #0072ce;
    color: white;
    transform: scale(.9);
}

.plus-img {
    width: 65%;
    object-fit: cover;
}

.soul-img {
    width: 100%;
    object-fit: cover;
}

/* SALE SECTION */
.sale-section {
    margin: 80px 0;
}

.sale-img {
    width: 100%;
    object-fit: cover;
}

/* PS NOW SECTION */
.ps-now-section {
    background-color: #161c3b;
}

.ps-now-section .btn-light {
    color: black;
    background-color: white;
    border: 0px;
    border-radius: 20px;
}

.ps-now-section .btn:hover {
    background-color: #0072ce;
    color: white;
    transform: scale(.9);
}

.now-img {
    width: 65%;
    object-fit: cover;
}

.avengers-img {
    width: 100%;
    object-fit: cover;
}

/* SOCIAL SECTION */
.social-section {
    margin: 80px 0;
}

.social-img {
    width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #00439c;
}

.footer-container {
    padding: 80px 0;
}

.footer-container ul {
    list-style: none;
}

.footer-container ul li a {
    color: white;
    text-decoration: none;
}

.ps-img-footer {
    width: 15%;
}

.globe-img {
    width: 3%;
    vertical-align: middle;
    margin-right: 10px;
}

.txt-under {
    text-decoration: underline;
}

.org-img {
    width: 25%;
}

@media screen and (max-width: 767px) {

    .avengers-img {
        display: none;
    }
    
    .soul-img {
        display: none;
    }

    .bottom-title {
        display: none;
    }


}